@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";

/* Start writing sass here */

.rl {
    position: relative;
}

.ab {
    position: absolute;
}

.full-height {
    height: 100%;
}

.full-img {
    width: 100%;
    display: block;
}

.cont-text {
    top: -1px;
    height: 250px;
    left: 0;
    background: #fff;
}

.cont-inside {
    background: #fff;
    width: 300px;
    margin-top: 0;
}

.cont-text1 {
    margin-top: -1px;
}

.big-banner {
    width: 728px;
    height: 90px;
    overflow: hidden;
    // background: #ddd;
    border: 1px solid #ddd;
}

.big-banners {
    width: 728px;
    height: 90px;
    overflow: hidden;
    // background: #ddd;
    border: 1px solid #ddd;
}

.small-fixed {
    width: 300px;
    height: 250px;
    overflow: hidden;
    background: #ddd;
    position: relative;
    border: 1px solid #ddd;
    .logo,
    .logo2 {
        bottom: 12px;
        right: 15px;
        width: 28px;
        opacity: 0;
    }
    .bg-text {
        top: -60px;
        height: 250px;
        width: 100%;
    }
    .t1,
    .t2 {
        top: 25px;
        left: 20px;
        width: 95px;
        opacity: 0;
        // @include transform (translateX(-150%));
    }
    .t3 {
        top: 20px;
        width: 230px;
        left: 20px;
        opacity: 0;
    }
    .t3_btn {
        top: 100px;
        width: 110px;
        left: 20px;
        opacity: 0;
    }
    .t3_2 {
        bottom: 7px;
        left: 20px;
        width: 186px;
        opacity: 0;
    }
}

//animation scss
.cont-text {
    @include animation(cont-animation 1.2s ease-in-out 0s forwards);
}

.cloud {
    @include animation(cloud 1s ease-in-out 0s forwards);
}

.t1 {
    @include animation(opacity-text 2s ease-in-out 1s forwards);
}

.t2 {
    @include animation(opacity 2s ease-in-out 2.8s forwards);
}

.logo {
    @include animation(opacity 500ms ease-in-out 1.2s forwards);
}

.cont-inside {
    @include animation(cont-inside 1.5s ease-in-out 4.2s forwards);
}

.t3 {
    @include animation(opacity 2s ease-in-out 5.4s forwards);
}

.t3_btn {
    @include animation(opacity 800ms ease-in-out 5.5s forwards);
}

.t3_2 {
    @include animation(opacity 2s ease-in-out 6s forwards);
}

.logo2 {
    @include animation(opacity 800ms ease-in-out 6.2s forwards);
}

@include keyframes (cloud) {
    0% {
        @include transform(translateY(-100%));
    }
    100% {
        @include transform(translateY(0%));
    }
}

@include keyframes (cont-animation) {
    0% {
        @include transform(translateY(0px));
    }
    100% {
        @include transform(translateY(100%));
    }
}

@include keyframes (bg-text2) {
    0% {
        @include transform(translateY(0px));
    }
    100% {
        @include transform(translateY(-250px));
    }
}

@include keyframes (cont-inside) {
    0% {
        @include transform(translateY(0px));
    }
    100% {
        @include transform(translateY(-100%));
    }
}

@include keyframes (opacity) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@include keyframes (opacity-text) {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.first-frame,
.second-frame {
    // background: #fff;
    top: 0;
    height: 100%;
    width: 100%;
}

.second-frame {
    opacity: 0;
    position: absolute;
}

.bg-1 {
    position: absolute;
    right: 0px;
    top: 0;
    z-index: 8;
    height: 90px;
    // width: 118%;
}

.bg-2 {
    position: fixed;
    height: 40px;
    right: 156px;
    bottom: 8px;
    opacity: 0;
    z-index: 9;
    @include transition(all 300ms ease);
}

.bg-3 {
    position: absolute;
    left: -147px;
    z-index: 1;
}

.first-frame {
    position: relative;
    right: 0;
    left: auto;
    background-size: 100% 100%;
    background-position: right;
    background-repeat: no-repeat;
}

.bg-4 {
    position: absolute;
    right: 191px;
    top: 0;
    z-index: 9;
    opacity: 0;
    height: 92px;
}

.bg-5 {
    position: absolute;
    top: 28px;
    left: 22px;
    opacity: 0;
}

.bg-6 {
    position: absolute;
    top: 28px;
    left: 22px;
    opacity: 0;
}

.curve {
    position: absolute;
    left: -100px;
    // opacity: 0;
}

//bgp1
//bg2 animation done
.bg-2 {
    @include animation(opacity 50ms ease 1.8s forwards);
}

@include keyframes (slide-trans) {
    0% {
        transform: translateX(-525px);
        opacity: 1;
    }
    100% {
        @include transform(translateX(0px));
        opacity: 1;
    }
}

.bg-4 {
    // right: 202px;
    @include animation(slide-trans 1.4s ease-in-out 0.8s forwards);
}

.bg-5 {
    @include animation(opacity-text 2s ease-in-out 2.8s forwards);
}

.bg-6 {
    @include animation(opacity 2s ease-in-out 4.8s forwards);
}

// bg3
@include keyframes (an2) {
    0% {
        @include transform(translateX(0px));
    }
    100% {
        @include transform(translateX(300px));
    }
}

@include keyframes (an1) {
    0% {
        @include transform(translateX(-20%));
    }
    100% {
        @include transform(translateX(230px));
    }
}

@include keyframes (white-bg-an) {
    0% {
        @include transform(translateX(-200px));
    }
    100% {
        @include transform(translateX(0px));
    }
}

.white-bg {
    @include animation(white-bg-an 0.9s ease-in-out 0.9s forwards);
}

.an2 {
    @include animation(an2 0.9s ease-in-out 0.9s forwards);
}

.an1 {
    @include animation(an1 1.2s ease-in-out 0s forwards);
}

.first-frame {
    @include animation(first-ani 600ms ease-in 5.9s forwards);
}

.second-frame {
    @include animation(opacity 600ms ease-in 6.4s forwards);
}

.white-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 230px;
    bottom: 0;
    background-color: white;
    z-index: 0;
    @include transform(translateX(-200px));
}

@include keyframes (first-ani) {
    0% {
        @include transform(translateX(0));
    }
    100% {
        @include transform(translateX(100%));
    }
}

.s1 {
    position: absolute;
    right: 0px;
    top: 0;
    z-index: 9;
    opacity: 0;
}

.s2 {
    position: absolute;
    right: 217px;
    z-index: 99;
    opacity: 0;
    top: 0;
}

.s3 {
    position: absolute;
    right: -68px;
    z-index: 99;
    width: 300px;
    bottom: 10px;
    opacity: 0;
}

.s4 {
    position: absolute;
    right: 310px;
    z-index: 99;
    // width: 130px;
    top: 30px;
    opacity: 0;
}

.s5 {
    position: absolute;
    left: -55px;
    z-index: 99;
    width: 450px;
    top: 15px;
}

.s6 {
    position: absolute;
    right: 185px;
    bottom: 10px;
    z-index: 99;
    opacity: 0;
}

.s5 {
    @include animation(opacity 600ms ease-in 6.6s forwards);
}

.s4 {
    @include animation(opacity 600ms ease-in 7.9s forwards);
}

.s6 {
    @include animation(opacity 600ms ease-in 9.1s forwards);
}

.s3 {
    @include animation(opacity 600ms ease-in 9.6s forwards);
}

.s2 {
    @include animation(opacity 600ms ease-in-out 7.1s forwards);
}

.an3 {
    opacity: 0;
    @include animation(an3 0.9s ease-in 6.4s forwards);
}

@include keyframes (an3) {
    0% {
        opacity: 0;
        @include transform(translateX(-500px));
    }
    100% {
        opacity: 1;
        @include transform(translateX(0px));
    }
}