<div class="small-fixed rl">
    <div class="cloud">
        <img src="img/bg.jpg" alt="" class="full-height">
        <img src="img/logo1.png" alt="" class="ab logo">
        <!--<img src="img/bg-text2.png" alt="" class="ab bg-text2">-->
        <img src="img/t1.png" alt="" class="ab t1">
        <img src="img/t2.png" alt="" class="ab t2">
    </div>
    <div class="cont-text1">
        <div class="ab cont-text">
            <div class="rl full-height cont-inside">
                <img src="img/bgfull.png" alt="" class="ab bg-text">
                <img src="img/t3.png" alt="" class="ab t3">
                <img src="img/t3_btn.png" alt="" class="ab t3_btn">
                <img src="img/t3_2.png" alt="" class="ab t3_2">
                <img src="img/logo2.png" alt="" class="ab logo2">
            </div>
        </div>
    </div>
</div>