<div class="rl big-banner">
    <div class="first-frame an1" style="background-image: url('img/b1.png');">
        <!--<img src="img/b1.png" class="bg-1 an1">-->
        <img src="img/logo1.png" class="bg-2">

        <img src="img/bg4.png" class="bg-4">

        <img src="img/b2.png" class="bg-3 an2">
        <!--<img src="img/curve.png" class="curve">-->
        <div class="white-bg">
            <img src="img/b5.png" class="bg-5">
            <img src="img/b6.png" class="bg-6">
        </div>

    </div>
    <div class="second-frame ">
        <img src="img/01.png" alt="pinkblock" class="s1 an3">
        <img src="img/bg4.png" alt="dimension" class="s2">
        <img src="img/04.png" alt="text1" class="s3">
        <img src="img/05.png" alt="button" class="s4 ">
        <img src="img/06.png" alt="text2" class="s5 an4">
        <img src="img/logo2.png" alt="logo" class="s6">
    </div>
</div>